@model List<ContactInfo>
@{
    ViewBag.Title = "My Contact List";
}

<h2 class="jumbotron">Contact List</h2>

<a asp-controller="ContactList" asp-action="Add" aps-route-slug="contact.Slug">Add Contact</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.PhoneNumber</td>
                <td>@contact.Address</td>
                <td>@contact.City</td>
                <td>@contact.StateAbbr</td>
                <td>@contact.ZipCode</td>
                <td>@contact.Note</td>
                <td>

                    <a asp-controller="ContactList" asp-action="Edit" asp-route-id="@contact.ContactId" aps-route-slug="contact.Slug">Edit</a>
                    <a asp-controller="ContactList" asp-action="Delete" asp-route-id="@contact.ContactId" aps-route-slug="contact.Slug">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
