@model List<Country>
@{ 
    string Active(string Current, string TrueActive)
                {
                    if (Current.ToLower().Equals(TrueActive.ToLower()))
                    {
                        return "active";
                    }
                    return "";
                } 
    }
<style>
    .contain {
        position: absolute;
        left: 15rem;
        right: auto
    }
</style>
<div class="float-left position-fixed">
    <ul class="list-group mr-5 mt-5">
        @foreach (GameType gameType in ViewBag.GameTypes)
        {
<li class="list-group-item @Active(gameType.GameTypeName, ViewBag.ActiveGameType)">
    <a class="text-dark" asp-route-game="@gameType.GameTypeName" asp-route-category="@ViewBag.ActiveCategory">@gameType.GameTypeName</a>
</li>}
    </ul>
    <ul class="list-group mr-5 mt-5">
        @foreach (Indoor_Outdoor cat in ViewBag.IndoorOutdoorTypes)
        {
<li class="list-group-item @Active(cat.Indoor_OutdoorType, ViewBag.ActiveIndoor_OutdoorType)">
    <a class="text-dark" asp-route-category="@cat.Indoor_OutdoorType" asp-route-game="@ViewBag.ActiveGame">@cat.Indoor_OutdoorType</a>
</li>}
    </ul>
</div>
<div style="background-color: aquamarine" class="contain mt-5">
    @foreach (Country country in Model)
    {
<img class="m-3 " src="@Url.Content(country.CountryFlag)"
     data-toggle="tooltip" title="@country.CountryName | @country.GameType.GameTypeName @country.Sport.Indoor_Outdoor.Indoor_OutdoorType" />}
</div>
