@model OlympicProgram1.Models.Detail
@{

}
<form asp-action="Detail" method="post">
    <div class="container text-center mt-5">
        <img style="width: 40%; border: 3px solid #555;" class="border-dark" src="~/images/OlyCountryFlag" />
        <h1 class="form-text mb-5 font-weight-bold">@Model.OlyCountry.OlyCountryName</h1>
        <h5 class="form-text mb-1">@Model.OlyCountry.OlyGame.OlyGameName</h5>
        <h5 class="form-text mb-3">@Model.OlyCountry.OlySport.OlySportName: @Model.OlyCountry.OlyCat.OlyCatName</h5>
        <div class="btn-group-vertical mt-3">
            @if (!Model.Favorite)
            {
                <button type="submit" class="btn btn-primary p-2 pl-5 pr-5 mb-1">Add to Favorites</button>}
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary p-2">Home</a>
        </div>
    </div>
    <input type="hidden" asp-for="@Model.OlyCountry.OlyCountryID" value="@Model.OlyCountry.OlyCountryID" />
    <input type="hidden" asp-for="@Model.Favorite" value="@true" />
</form>