@model TicketViewModel
@{ string Overdue(Ticket task) => task.Overdue ? "bg-warning" : ""; }

    <div class="row">
        <div class=" =col-sm-2">
            <form asp-action="Filter" method="post">
                <div class="form-group">
                    <label>Sprint:</label>
                    <select name="filter" class="form-control"
                            asp-items="@(new SelectList(Model.Redo_Sprints,"SprintID", "SprintName", Model.Filters.SprintID))">
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Due:</label>
                    <select name="filter" class="form-control" asp-items="@(new SelectList(Model.DueFilters,"Key","Value", Model.Filters.Due))">
                        <option value="all">All</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Status:</label>
                    <select name="filter" class="form-control" asp-items="@(new SelectList(Model.Redo_Statuses,"StatusID","StatusName", Model.Filters.StatusID))">
                        <option value="all">All</option>
                    </select>
                </div>
                <button type="submit" class="btn-primary">Filter</button>
                <a asp-action="Index" asp-route-id=""
                   class="btn btn-primary">Clear</a>
            </form>
        </div>
        <div class="col-sm-10">
            <a asp-action="Add"><b> Add new ticket</b></a>
            <table class="table table-boardered table table-striped mt-2">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Point Value</th>
                        <th>Sprint</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th class="w-25"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Ticket task in Model.Tasks)
                    {
                        string overdue = Overdue(task);
        <tr>
            <td>@task.TicketName</td>
            <td>@task.TicketDesc</td>
            <td>@task.PointValue</td>
            <td>@task.Sprint.SprintName</td>
            <td class="@overdue">@task.Deadline?.ToShortDateString()</td>
            <td class="@overdue">@task.Status.StatusName</td>
            <td>
                <form asp-action="Edit" method="post" asp-route-id="@Model.Filters.FilterString" class="mr-2">
                    <input type="hidden" name="@nameof(Ticket.TicketID)" value="@task.TicketID" />
                    <button type="submit" name="@nameof(Ticket.StatusId)" value="Edit" class="btn btn-primary btn-sm">Edit</button>
                    <button type="submit" class="btn btn-primary btn-sm">Delete</button>

                </form>

            <td>
        </tr>}
                </tbody>
            </table>
        </div>
    </div>